body{
    background-color: black;
}

p{
    color: white;
}

header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
   
}

#logo{
    cursor: pointer; /* this turns cursor into pointer, when uyou decide to make logo */
}

.log{
    color: white;
    cursor: pointer;

}

a:hover {
    color: lightgray;
    text-decoration: none;
}

a:link{
    text-decoration: none;
}

#logIn{

    padding: 9px 25px;
    border:none;
    border-radius: 50px;
    cursor:pointer;
    transition: all 0.3s ease 0s;
    font-weight: bold;
    font-family:'IBM Plex Sans', sans-serif;
    font-size: smaller;
}

.firstPage{
display: flex;
text-align: center;
flex-direction: column;
background-image:url('./huluBackground.jpg');
background-size: cover;

}

.greenText{
    color:#1CE783;
}

.whiteText{
    color:white
}


#try{
    font-family:'IBM Plex Sans', sans-serif;
    margin-bottom: 0rem;
    margin-top: 4rem;
}

#hulu{
    font-size: 8rem;
    font-family: 'Maven Pro', sans-serif;
    top: 5em;
    margin-bottom: 0rem;
    margin-top: 0rem;
}

#watchThousands{
    font-family: 'Recursive', sans-serif;
    font-size: x-large;
    margin-top: 0rem;
}


#freeTrial{
    background-color:white;
    border-radius: 10px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    
}

#freeTrial:hover{
    opacity: 75%;
}

#freeTrialButton{
color: black;
}

#freeTrialButton:hover{
    opacity: 75%;
    text-decoration: none;

}

#freeEligible{
    font-size: x-small;
    opacity: 75%;
    margin-top: 1rem;
    margin-bottom: 4rem;
}

#companyLogos{
    height: 5rem;
    width: 19rem;
}

.firstPageBanner{
    display: flex;
    justify-content: space-between;
    text-align: left;
    border: 2px solid #0d3e4d;
    background-color: #0d3e4d; 
  
}


.left{
    padding-left: 3.5vh;
    padding-top: 3vh;
}

.middle{
    margin-right: 16rem;
}

#bundleSave{
    font-family:'IBM Plex Sans', sans-serif;
    font-size: .75rem;
    opacity: 80%;
    margin-bottom: 0rem;
}

#getHulu{
    font-family: 'Mukta', sans-serif;
    font-size: 1.5rem;
    margin-top: .5rem;
    margin-bottom: 0rem;
}

#moreDetails{
    color: white;
    opacity: 75%;
    text-decoration: underline;
    margin-top: 0rem;
}

#moreDetails:hover{
    color: white;
    text-decoration: underline;
}

#moreDetailsParagraph{
    margin-top: 0rem;
    margin-bottom: 2rem;
}

.right{
padding-right: 0;
}

#getBundle{
    border: 2px solid white;
    background-color: #0d3e4d;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-weight: bold;
    border-radius: 3px;
    cursor: pointer;
    margin-right: 2.75rem;
    margin-top: 3rem;
   
}

#getBundle:hover{
    text-decoration: none;
}

#termsApply{
    font-size: x-small;
    text-decoration: underline;
    opacity: 70%;
    margin-left: 2.25rem;
    margin-right: 0rem;
    margin-top: 0rem;
}

#termsApplyParagraph{
    margin-right: 0rem;
    margin-top: 0rem;
}

#termsApply:hover{
    color:white;
    
}

.second{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

